.AnnouncementBoxWrapper {
  margin-bottom: .5em;
  padding-bottom: .5em;
}

.AnnouncementBoxWrapper > .card {
  width: 50%;
}

.AnnouncementBoxHeader {
  background: #800;
  color: #fff !important;
  padding-left: .5em;
  line-height: 2em;
}

.AnnouncementBoxHeader > h2 {
  color: #fff !important;
  margin-bottom: 0 !important;
  display: inline-block;
  font-size: 131% !important;
  padding: .25em .5em 0 .5em !important;
}

.AnnouncementBoxContent {
  line-height: 1.5em;
  padding: .25em .5em;
  color: #000;
  line-height: 1.5em;
  font-size: 93%;
}

@media (max-width: 600px) {
  .CommonBoxWrapper > .card {
    width: 100%;
  }
}
