.CommonBoxWrapper {
  margin-bottom: .5em;
  padding-bottom: .5em;
}

.CommonBoxHeader {
  background: #fca;
  color: #800 !important;
  padding-left: .5em;
  line-height: 2em;
}

.CommonBoxHeader > h2 {
  color: #800 !important;
  margin-bottom: 0 !important;
  display: inline-block;
  font-size: 131% !important;
  padding: .25em .5em 0 .5em !important;
}

.CommonBoxContent {
  line-height: 1.5em;
  padding: .25em .5em;
  line-height: 1.5em;
  font-size: 93%;
}
